root {
	margin: 0;
	padding: 0;
	text-align: justify;
	/* display: block; */
}

logo {
	background-image: url('../img/nau_logo.jpg');
	height: 100px;
	text-align: center;
	border: #111;
	border-width: 10px;
	background-repeat: no-repeat;
	background-position: 50%;
	display: block;
}

logo-text {
	float: left;
	margin-left: 50px;
	font-size: 32px;
	line-height: 107px;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif;    */
	font-weight: bold;

}

nav-menu {
	font: menu;
	float: left;
	margin: 0 0 25px 0;
	font-size: 23px;
	padding: 10px 0 10px 0;

	display: block;
	width: 100%;
	color: white;

	background-color: #333;
}

nav-menu menu {
	padding: 10px 20px 10px 20px;
}

nav-menu menu#active {
	background-color: #fff;
	color: #111;
}

nav-menu menu:hover:not(nav-menu menu#active) {
	background-color: #111;
}

table {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	margin-top: 10px;
}

table-header {
	font-size: 30px;
	margin: 20px 0 20px 0;
	display: block;
	text-align: center;
	font-weight: bold;
}



row {
	font-size: 18px;
	padding: 5px;
	width: 100%;
	background-color: white;
	margin-bottom: 25px;
	transition: .5s;
	display: block;
	padding: 10px;
	padding: 10px 10px 10px 10px;
	
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
	background-color: #00000015;
}

row *{
	display:block;
}

row:hover {
	transform: scale(1.05);
}


passport{

	border-radius: 10px;
	border-color: #111;
	border-width: 1px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
	padding: 10px 10px 10px 10px;
	margin: 10px 0 0 0;

	margin-left: auto;
	margin-right: auto;
	width:50%;
}

row p{
	font-weight: bold;
	display: inline;
}





row#r3 {
	background-color: rgba(255, 0, 51, 0.247);
}

